<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
iframe {
	height: 100px;
	width: 500px;
}
</style>
<body>
	<table border="1">
		<tr>
			<th>name</th>
			<th>artist</th>
			<th>genre</th>
			<th>play</th>
		</tr>
		<tr th:each="song:${songs}">
			<td th:text="${song.name}"></td>
			<td th:text="${song.artist}"></td>
			<td th:text="${song.genre}"></td>
			<td>
			    <audio controls th:src="${song.link}"></audio>
			</td>
		</tr>


	</table>

</body>
</html>