<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="registration" method="POST">
		<label>user name:</label> <input type="text" name="username" /><br />
		<label>email:</label> <input type="email" name="email" /><br /> <label>password:</label>
		<input type="password" name="password" /><br /> <label>gender:</label>
		Male<input type="radio" name="gender" value="male" /> Female<input
			type="radio" name="gender" value="female" /> Other<input type="radio"
			name="gender" value="other" /><br /> <label>role:</label> admin<input
			type="radio" name="role" value="admin" /> User<input type="radio"
			name="role" value="user" /><br />
			<label>address:</label>
		<textarea name="address"></textarea><br/>
		<input type="submit" value="Register"/>
	</form>

</body>
</html>